---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: feast
  labels:
    app: mlops-feature-store
  annotations:
    argocd.argoproj.io/sync-wave: "1"
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi